<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<script src="/resour/js/jquery-3.4.1.min.js"></script>
	<script language="javascript">
			$(function(){
					$('#sub').click(function(){
							
							$.ajax({
								type:'POST',
								datatype:'text',
								url:'/getVoice/',
								data:$('#form').serializeArray(),
								contentType:'application/x-www-form-urlencoded',
								success:function(data){
									
									var play = document.getElementById('play1');
									play.src= 'http://192.168.66.108:9092'+ data.url;
									$('#disp').text(play.src);
									play.load();
									play.play();
								}
								});
							
						});
				});
	</script>
</head>
<body>
		<audio id="play1" src="">
           
    </audio>
	
	<form id="form" action="/getVoice/" method="POST" >
  		<input name="content" type="text"/><br/><span id="disp"></span><br/>
  		<input type="button" id="sub" value="submit"/>
  	
  	
  </form>
</body>
</html>
