<html>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<script src="/resour/js/jquery-3.4.1.min.js"></script>
	<script language="javascript">
			$(function(){
					$('#sub').click(function(){
							
							$.ajax({
								type:'POST',
								datatype:'text',
								url:'/getVoice/',
								data:$('#form').serializeArray(),
								contentType:'application/x-www-form-urlencoded',
								success:function(data){
									
									var play = document.getElementById('play1');
									url = window.location
									play.src= url.protocol + '//' + url.host+ data.url;
									var urlhref = '可点击我下载<a href="'+play.src + '">'+play.src+'</a>'
									$('#disp').html(urlhref);
									play.load();
									play.play();
								}
								});
						
						});
				});
	</script>
</head>
<body>
		<audio id="play1" src="">
           
    </audio>
	
	<form id="form" action="/getVoice/" method="POST" >
  		<input name="content" type="text" style="width:480"/><br/><span id="disp"></span><br/>
  		<input type="button" id="sub" value="开始转换"/>
  	
  	
  </form>
</body>
</html>
